<div class="post-form">
    <h2>Create a New Post</h2>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" formControlName="title">
    
      <label for="content">Content:</label>
      <textarea id="content" name="content" formControlName="content"></textarea>
    
      <button type="submit" [disabled]="postForm.invalid">Submit</button>
    </form>

  
    <h2>Recent Posts</h2>
    <ul>
      <li *ngFor="let post of posts">
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
      </li>
    </ul>
  
    <button (click)="onPreviousPage()">Previous</button>
    <button (click)="onNextPage()">Next</button>
  </div>