<div class='container'>
    <form (ngSubmit)='signIn()'>
      <input type='email' email='email' name='email' placeholder='Email' required>
      <input type='password' password='password' name='password' placeholder='Password' required>
      <button type='submit'>Sign In</button>
    </form>
    <a routerLink="create-account">Create Account</a>
    <button (click)='goToCreateAccount()' routerLink="/create-account">Create Account</button>

  </div>
  <!-- <app-create-account *ngIf="modal"></app-create-account> -->